<div class="mat-h1 page-header">Roster</div>
<div class="centered-table mat-elevation-z1">
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-input-container>
    <input matInput placeholder="Search Players" #input (keyup)="filterPlayers($event.target.value)">
  </mat-input-container>

  <mat-paginator #paginator
                 [length]="totalResults"
                 [pageSize]="25"
                 [pageSizeOptions]="[25, 50, 100]"
                 [showFirstLastButtons]="true">
  </mat-paginator>

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.last_name}}, {{player.first_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.position}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="goals">
      <mat-header-cell *matHeaderCellDef> Goals </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.goals}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="assists">
      <mat-header-cell *matHeaderCellDef> Assists </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.assists}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="rinko_points">
      <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.rinko_points}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>

